li{
  width: 50%;
}
li.pending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
}

li.completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  background-color: #8BC34A; /* Green background for completed tasks */
}

li button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #d32f2f;
}

/* Updated Clear All button style */
button.clearAll {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #f44336; /* Red background for Clear All button */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.clearAll:hover {
  background-color: #d32f2f;
}